<!DOCTYPE html>
<html>  
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>北京地图</title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',
filename='css/style.css') }}" />
    <script type="text/javascript" src="http://api.go2map.com/maps/js/api_v2.5.1.js"></script>
    <script type="text/javascript">
     /**
    * 加载指定城市区域的地图
    */
    var map;
    var marker;
    function initialize() {
        var myLatlng = new sogou.maps.LatLng(39.992792,116.326142);
        var myOptions = {
            zoom: 12,
            center: myLatlng,
            mapTypeId: sogou.maps.MapTypeId.ROADMAP
        }
        map = new sogou.maps.Map(document.getElementById("map_canvas"), myOptions);

        sogou.maps.event.addListener(map, 'click', function(event) {
            //获取点击位置的坐标
            //alert(event.point)
            placeMarker(event.point);
          });
  }

  function placeMarker(location) {
    //var clickedLocation = location;
    if (marker){
        marker.setPosition(location);
    }else{
        marker = new sogou.maps.Marker({
        position: location,
        map: map
    })};
    map.setCenter(location);
    document.getElementById('latitude').value = location.x;
    document.getElementById('longitude').value = location.y;
}
</script>
</head>
<body onload="initialize()">
  <h1>CrimeMap</h1>
  <div id="map_canvas" style="width:70%; height:440px"></div>
  <div id="newcrimeform">
    <h2>Submit new crime</h2>
<form action="/submitcrime" method="POST">
    <label for="category">Category</label>
    <select name="category" id="category">
        <option value="mugging">Mugging</option>
        <option value="breakin">Break-in</option>
    </select>
    <label for="date">Date</label>
    <input name="date" id="date" type="date">
    <label for="latitude">Latitude</label>
    <input name="latitude" id="latitude" type="text">
    <label for="longitude">Longitude</label>
    <input name="longitude" id="longitude" type="text">
    <label for="description">Description</label>
    <textarea name="description" id="description" 
    placeholder="A brief but detaileddescription of the crime"></textarea>
    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>